.root {
    width: 100%;
    display: flex;
    align-items: center;
}
.label {
}
.color {
    width: 25px;
    height: 25px;
    border-radius: 2px;
}

.swatch {
    padding: 2px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
}

.popover {
    position: absolute;
    z-index: 2;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
